.grid-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.grid-mover {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -100%;
    left: -50%;
    background-image: url("/svg/star-mask.svg");
    background-size: auto 2.5dvh;
    /* animation: drift2 5s linear infinite;  */
    overflow: hidden;
}

.static-noise {
    position: absolute;
    inset: -50%;
    background-image: url("/img/noise.png");
    opacity: 20%;
    z-index: 0;
}