.vignette {
  pointer-events: none;
  position: fixed; 
  height: 100%;
  inset: 0;
  z-index: 10;
  overflow: hidden;
}

body {
  font-family: 'Contm', sans-serif;
  line-height: 1;
  color: var(--text-primary);
  background-color: var(--wii-background);
  margin: 0;
  padding: 5% 5% 20dvh 5%;
  min-height: 100%;

  isolation: isolate;
  position: relative;

}

/* Articles layout styles */
h1 {
  font-family: 'Contb', sans-serif;
  font-size: 4rem;
  color: var(--wii-blue-dark);
  margin: 0;
}

/* under the title */
p {
  font-size: 1rem;
  color: var(--text-primary);
  margin: 0;
}

/* Style all content inside article */
article * {
  color: var(--text-primary);
  margin: 0;
}

article img {
  width: 200px;
  height: auto;
}

article h5 {
  font-family: 'Contb', sans-serif;

  font-size: 1.8rem;
  color: var(--wii-blue-dark);
}

article a {
  color: var(--wii-blue-dark);
  text-decoration: underline;
}

article p {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: var(--text-secondary);
  text-align: justify;

}

/* main page styling */
ul li a {
  color: var(--wii-blue-dark)
}