.bottom-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 20vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.top-of-bottom-container {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 1;
}

.top-of-bottom-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

.left-line, .right-line, .center-line {
  flex-grow: 1;
  min-width: 50px;
}

.left-curve, .right-curve {
  flex-shrink: 0;
  width: 80px; 
}

.rest-of-bottom-container {
  width: 100%;
  flex-grow: 1;
  z-index: 0;
}

.rest-of-bottom-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

.shadow-overlay svg {
  width: 100%;
  height: 100%;
  display: block;
}

.shadow-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 2;
  pointer-events: none;
}

/* Need to add the same child sizing rules */
.shadow-layer .left-line,
.shadow-layer .right-line,
.shadow-layer .center-line {
  flex-grow: 1; 
  min-width: 50px;
}

.shadow-layer .left-curve,
.shadow-layer .right-curve {
  flex-shrink: 0;
  width: 80px;
}

.shadow-layer svg {
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible;
}

.shadow-path {
  stroke: "#0000ff"; 
  stroke-width: 1;
  fill: none;
  filter: drop-shadow(0 1px 2px #000);
}


.time-display {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: 'digital-7';
  font-size: 2rem;
  color: var(--text-secondary);
  letter-spacing: 0.1em;
}

.date-display {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: 'Courier New', 'Consolas', monospace;
  font-size: 1.8rem;
  color: var(--text-primary);
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* hate how this is being done, but the display flex was messing with other stuff so this is the best solution that google could think of */
.bottom-container > :first-child {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  height: 60%;
  width: auto;
  aspect-ratio: 1 / 1; 
}

.bottom-container > :last-child {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  height: 60%;
  width: auto;
  aspect-ratio: 1 / 1;
}

.slot {
  z-index: 20;
}