.wii-button {
  display: inline-block;
  font-family: 'Contm', sans-serif;
  background: var(--button-background);
  color: var(--text-primary);
  border: clamp(0.01rem, 1vw, .1rem);
  border-style: solid;
  border-color: var(--wii-blue);
  border-radius: 40000px;
  font-size: clamp(0.5rem, 4vw, 4rem);
  cursor: pointer;
  margin: 5px;
  text-decoration: none;

  position: relative;
  display: inline-flex;
  height: min(100%, 10vw);
  width: auto;
  aspect-ratio: 3 / 1;
  align-items: center;
  justify-content: center;
}

.wii-button::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.25),
              /* 0 0 4px 1px var(--wii-blue), */
              0 0 4px 1px var(--wii-blue),
              inset 0 0 2px 1px var(--wii-blue);
  pointer-events: none;
  z-index: 10;
}

.wii-button svg {
  height: 60%;
  width: 100%;
  padding-left: 2%;
}

.glare {
  position: absolute;
  top: 2px;
  left: 0;
  width: 92%;
  height: 70%;
  pointer-events: none;
  z-index: 0;
  display: flex;
  margin: 0;
  border: 0;
}

.glare svg {
  width: 100%;
  height: 80%;
}

/* circle button time */

.circle-button {
  display: inline-block;
  font-family: 'Contm', sans-serif;
  background: var(--round-button-background);
  color: var(--round-button-glare);
  border: 2px;
  border-style: solid;
  border-color: var(--wii-blue);
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  text-decoration: none;

  position: relative;
  /* padding will have to be changed to be the same size when in the bottom nav bar */
  padding: 0; 
  filter: drop-shadow(5px 5px 2px #a1a5a8);
}

.button-bg {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 60%;
  pointer-events: none;
  z-index: 0;
}

.circle-button-glare {
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 1;
  width: 100%;
  height: 100%; 
}

.slot {
  z-index: 15;
}

.circle-button-content {
  position: relative;
  z-index: 2;
  display: flex;
  left: 25%;
  top: 25%;
  width: 50%;  /* Control icon size */
  height: 50%;
}

.circle-button-content svg {
  width: 100%;
  height: 100%;
}